.mainContainer {
    height: 90vh;
}

.addItem {
    padding: 20px;

/*background-color: black;*/

}

.allItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 80vh;
}